<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h1>로그인</h1>
<form th:object="${loginForm}" method="post" th:action="@{/auth/login}">
    <div>
        <label for="username">ID</label>
        <input name="username" id="username">
    </div>
    <div>
        <label for="password">password</label>
        <input name="password" id="password">
    </div>
    <button type="submit">로그인</button>
</form>
</body>
</html>