<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <meta charset="UTF-8">
    <title th:text="|${channel.name} 채널|">채널 이름</title>
</head>
<body>
<div th:replace="~{layout/header :: header}">헤더</div>
<div class="container">
    <header class="m-4 d-flex flex-row gap-2">
        <h2 th:text="|${channel.name} 채널|">채널 이름</h2>
        <div>
            <span th:text="${channel.description}">채널 설명</span>
            <a class="btn btn-outline-secondary">설명 수정</a>
        </div>
    </header>
    <hr>
    <nav>
        <a>글쓰기</a>
    </nav>
    <hr>
    <div>
        <div class="row">
            <div class="col-1 text-center">번호</div>
            <div class="col ms-auto">제목</div>
            <div class="col-1 text-center">추천</div>
        </div>
        <hr>
        <div class="row">
            <div class="col-1 text-center">1</div>
            <div class="col ms-auto">라이덴 개사기아니냐</div>
            <div class="col-1 text-center">132</div>
        </div>
        <hr>

    </div>
</div>
<div th:replace="~{layout/footer :: footer}">푸터</div>
</body>
</html>