<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="post">
  <h1>글 제목</h1>
  <div class="d-flex flex-row justify-content-between">
    <div>작성자</div>
    <div>
      <span>추천</span>
      <span class="vr"></span>
      <span>비추천</span>
      <span class="vr"></span>
      <span>작성일</span>
    </div>
  </div>
  <hr>
  <!--게시글 본문-->
  <div>
    <div>
      이건 게시글
    </div>
  </div>
  <hr>
  <!--게시글 버튼-->
  <div class="d-flex justify-content-center m-4">
    <form action="rateUp" method="post" class="mx-2">
      <button>추천</button>
    </form>
    <form action="rateDown" method="post" class="mx-2">
      <button>비추천</button>
    </form>
  </div>
  <hr>
</div>
</html>