<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <meta charset="UTF-8">
    <title>mypage</title>
</head>
<body>
<div th:replace="~{layout/header :: header}">헤더</div>
<h1>비밀번호 변경</h1>
<div class="container my-4">
    <form method="post" th:object="${changePasswordForm}" th:action="@{/settings/change-password}">
        <span th:each="err: ${#fields.globalErrors()}" th:text="${err}"></span>
        <div class="m-3">
            <label th:field="*{beforePassword}" class="form-label">기존 비밀번호</label>
            <span th:errors="*{beforePassword}" class="text-danger"></span>
            <input th:field="*{beforePassword}" class="form-control">
        </div>
        <hr class="m-3">
        <div class="m-3">
            <label th:field="*{newPassword}" class="form-label">새 비밀번호</label>
            <span th:errors="*{newPassword}" class="text-danger"></span>
            <input th:field="*{newPassword}" class="form-control">
        </div>
        <div class="m-3">
            <label th:field="*{newPasswordConfirm}" class="form-label">비밀번호 확인</label>
            <span th:errors="*{newPasswordConfirm}" class="text-danger"></span>
            <input th:field="*{newPasswordConfirm}" class="form-control">
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary m-3">비밀번호 변경</button>
            <a th:href="@{/}" class="btn btn-outline-secondary m-3">메인 페이지로</a>
        </div>
    </form>
    <div th:replace="~{layout/footer :: footer}">푸터</div>
</body>
</html>
